@{
    ViewData["HideHeader"] = true;
    ViewData["Title"] = "Exams Schedule";
}
@model List<ExamScheduleViewModel>


<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
 
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Exam Schedule</h2>
            <div class="card shadow p-4">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Exam Name</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exam in Model)
                        {
                            <tr>
                                <td>@exam.ExamName</td>
                                <td>@exam.ExamDate.ToString("yyyy-MM-dd")</td>
                                <td>@exam.StartTime.ToString(@"hh\:mm")</td>
                                <td>@exam.EndTime.ToString(@"hh\:mm")</td>
                                <td>@exam.Room</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
